.h1{
  font-family: Comfortaa;
  margin-top: 20px;

}
.h2{
  font-family: Comfortaa;
  font-size: 32px;
  color: #12a29b;
}
.h3{
  font-family: Comfortaa;
  font-size: 28px;
  /* border: 1px solid black; */
  color: #60579d;
}
/* .inline{
  display: inline;
} */
/* p{
  border: 1px solid black;
} */
body{
  display:grid;
  grid-template-rows: auto auto 100px;
  margin: 0;
  height: 100vh;
  font-family: Raleway;
  font-weight: 100;
  /* font-size: 20px; */
}
.header{
  /* display:flex; */
  /* justify-content: center;
  align-items: center; */
  z-index: 1;
  text-align: center;
  color:  #60579d;
  /* border-bottom: 1px solid  #60579d;  */
  box-shadow: 0 0px 25px 5px #3a374e;
}

.header__button{
  border: 1px solid #60579d;
  border-radius: 15px;
  font-size: 16px; ;
  background: white;
  padding: 5px;
  margin: 0 5px 10px 5px;

}
/* display: grid;
  grid-template-rows: 100px auto 80px;
  grid-template-columns: auto 200px;
  grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
  height: 100vh; */

.scroll-container{
  /* background: purple; */
 
  /* border: 3px dotted black;  */
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 250px auto;
  grid-template-areas: 
  "introduction big-card"
  "introduction  big-card"
  "information information";
  /* height: 100vh;
  width: 100vw; */
  color: #12a29b;
  overflow-y:scroll;
  /* padding:24px;  */
}
.introduction{
  width: 100%;
  /* border: 3px dotted black;  */
}
.big-card{
  grid-area: big-card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  /* border: 3px dotted black; */
  width: 100%;
}
.big-card h2,h3,p,button{
  align-self: flex-start;
}
.card{
  display:flex;
  justify-content: flex-start;
  flex-direction:column;
  align-items: center;
  height: auto;
  border: 2px solid #0099aa;
  border-radius: 10px;
  width: 250px;
  margin-right:auto;
  /* margin-top: 10px; */
  /* text-align:center; */
}
.card__image{
  /* border: 2px solid #0099aa; */
  border-radius: 10px;
  width: 100%;
   
}
.image-rounded{
  grid-area: image-rounded;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  box-shadow: 0 5px 10px #60579d;

}
.information{
  /* background: yellow; */

  width: 100%;
  grid-area: information;
  /* border: 3px dotted black; */
}
.tags{
  display: flex;
  justify-content: flex-start;
}
.table{
display: flex;
flex-direction: column;
align-items:center;
}
.ref{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
nav{
  z-index:  1;
  box-shadow: 0 0px 25px 5px #3a374e;
  /* border-top: 1px solid  #60579d;  */
}
.bottom-navigation{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-navigation__image{
  /* flex-grow: 1; */
  width: 48px;
  height: 48px;
}
/* media queries start */
@media only screen and (max-width: 500px)  {
  .scroll-container{
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 100% auto;
      grid-template-areas: 
      "introduction introduction"
      "big-card big-card"
      "information information";
      margin-left: 0px;
      margin-right: 0px;
}
.h2{
    font-size: 22px;
  }
  .big-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:25px;
    margin-left:0px;
    border-top: 1px solid #60579d;
    border-bottom: 1px solid #60579d;
    padding: 25px 15px;
  }
  .introduction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:20px;
    
  }
  .big-card h2,h3,p,button{
    align-self: none-tart;
  }
  .ref{
    display: flex;
    flex-direction: column;
  }
}
/* media queries end */