<section class="big-card">   
      <h2 class="h3">Kontaktdaten</h2>
      <h3>Nacira Bogenschneider</h3>
      <p>Telefon Nummer </p>
      <p>0172/528 70 69</p>
      <button> Schreib</button>
</section>