<section class="big-card">   
      <h2 class="h3">Kontaktdaten</h2>
      <h3>Nacira Bogenschneider</h3>
      <h4 class="big-card__h4"><span>Telefonnummer:</span> <span>0172 528 70 69</span></h4>
      <h4 class="big-card__h4"><span>E-Mail:</span><span>mail@naciradesign.de</span></h4>     
<a href="" class= "big-card__button"> Schreib mir</a>
</section>