<header class="header">
    <h1 class="h1">Nacira Bogenschneider</h1 class="h1">
    <h2 class="h2">Web Developer & Grafik Designer</h2>
    <section class="header__button-group">
    <a href="#work" class="header__button">Experience</a>
    <a href="#education" class="header__button">Education</a>
    <a href="#references" class="header__button" >References</a>
    </section>
  </header>