body {
  display: grid;
  grid-template-rows: auto auto 48px;
  height: 100vh;
  font-family: Raleway;
}

.h1 {
  font-family: Comfortaa;
  margin-top: 20px;
}
@media (max-width: 576px) {
  .h1 {
    font-size: 25px;
  }
}

.h2 {
  font-family: Comfortaa;
  font-size: 32px;
  color: #12a29b;
}
@media (max-width: 576px) {
  .h2 {
    font-size: 16px;
  }
}

.h3 {
  font-family: Comfortaa;
  font-size: 28px;
  /* border: 1px solid black; */
  color: #60579d;
}

/* .inline{
  display: inline;
} */
/* p{
  border: 1px solid black;
} */
.header {
  z-index: 1;
  text-align: center;
  color: #60579d;
  box-shadow: 0 0px 30px 0px #3a374e;
}

.header__button {
  border: 1px solid #60579d;
  border-radius: 15px;
  font-size: 16px;
  background: white;
  padding: 5px;
  margin: 0 5px 10px 5px;
}

.scroll-container {
  padding: 24px;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: "introduction big-card" "introduction  big-card" "information information";
  color: #12a29b;
  overflow-y: scroll;
}
@media (min-width: 350px) {
  .scroll-container {
    width: auto;
  }
}
@media (max-width: 576px) {
  .scroll-container {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100% auto;
    grid-template-areas: "introduction introduction" "big-card big-card" "information information";
    margin-left: 0px;
    margin-right: 0px;
  }
}

.introduction {
  /* border: 3px solid blue; */
  width: auto;
  text-align: center;
  /* border: 3px dotted black;  */
}
@media (max-width: 576px) {
  .introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
}

.big-card {
  /* border: 3px solid blue; */
  grid-area: big-card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  /* border: 3px dotted black; */
  width: auto;
}
@media (max-width: 576px) {
  .big-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-left: 0px;
    border-top: 1px solid #60579d;
    border-bottom: 1px solid #60579d;
    padding: 25px 15px;
  }
}

.big-card h2, h3, p, button {
  align-self: flex-start;
}
@media (max-width: 576px) {
  .big-card h2, h3, p, button {
    align-self: none-tart;
  }
}

.ref {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  /* flex-wrap: wrap; */
}
@media (max-width: 768px) {
  .ref {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  border: 2px solid #0099aa;
  border-radius: 10px;
  width: auto;
  margin: 10px;
  /* margin-top: 10px; */
  /* text-align:center; */
}
.card p {
  margin: 6px;
}
.card h4 {
  margin: 6px;
}
@media (max-width: 768px) {
  .card {
    width: auto;
  }
}
@media (max-width: 576px) {
  .card {
    width: auto;
    margin: 20px 0;
  }
}

.card__image {
  /* border: 2px solid #0099aa; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.image-rounded {
  grid-area: image-rounded;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  box-shadow: 0 5px 10px #60579d;
}

.information {
  width: auto;
  grid-area: information;
  padding: 24px;
}
@media (max-width: 576px) {
  .information {
    padding: 0;
  }
}

.tags {
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin: 0;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .tags {
    flex-direction: column;
  }
}

.tags__tag {
  flex-grow: 1;
  margin: 5px 6px;
  padding: 5px 7px;
  line-height: 3;
  color: white;
  border-radius: 14px;
  background: #0099aa;
}

.tags__h3 {
  color: #60579d;
  margin-top: 40px;
}

.tags__text-box {
  width: auto;
  margin: 0 10px;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  width: auto;
}
@media (max-width: 576px) {
  .table {
    flex-direction: column;
  }
}

.single__table-left {
  display: flex;
  flex-direction: column;
  width: auto;
  flex-grow: 1;
  padding-right: 20px;
}
@media (max-width: 576px) {
  .single__table-left {
    padding-right: 0;
  }
}

.single__table-right {
  display: flex;
  flex-direction: column;
  width: auto;
  flex-grow: 1;
  padding-right: 20px;
}
@media (max-width: 576px) {
  .single__table-right {
    padding-right: 0;
  }
}

nav {
  z-index: 1;
  box-shadow: 0 0px 25px 5px #3a374e;
  /* border-top: 1px solid  #60579d;  */
}

.bottom-navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-navigation__image {
  /* flex-grow: 1; */
  width: 32px;
  height: 32px;
}

/* media queries start */

/*# sourceMappingURL=/style.a6dae8f7.css.map */