<!DOCTYPE html>
<html lang="de">
  <head>
      
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <link rel="shortcut icon" type="image/x-icon" href="https://naciradesign.de/wp-content/uploads/2018/10/butterfly.png">
      <link rel="stylesheet" href="scss/style.scss">
      <!-- <link rel="stylesheet" href="docs/style.a6dae8f7.css"> -->
      <link href="https://fonts.googleapis.com/css?family=Comfortaa:300&display=swap" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
      <title>Naciras Website</title>
  </head>
  
  <!-----------header section---------------------------------------------->
  <header class="header">
    <h1 class="h1">Nacira Bogenschneider</h1 class="h1">
    <h2 class="h2">Web Developer & Grafik Designer</h2>
    <button class="header__button" type="button">Experience</button>
    <button class="header__button" type="button">Education</button>
    <button class="header__button" type="button">References</button type="button">
  </header>
<!-----------content section---------------------------------------------->
  <main class="scroll-container">

    <!-- grid-start -->
   <section class="introduction">
      <!-- grid-element 1 image-rounded  -->
      <img  class="image-rounded"  src="images/nacira.jpg" alt=""> 
      <!-- grid-element 2 big-card -->
    </section>
<section class="big-card">   
      <h2 class="big-card__h2">Kontaktdaten</h2>
      <h3>Nacira Bogenschneider</h3>
      <h4 class="big-card__h4"><span>Telefonnummer:</span> <span>0172&nbsp;528&nbsp;70&nbsp;69</span></h4>
      <h4 class="big-card__h4"><span>E&#8209;Mail: </span><span>mail@naciradesign.de</span></h4>     
<a href="" class= "big-card__button"> Schreib mir</a>
</section>
    
    {{!-- <section class="big-card">   
      <h2 class="h3">Kontaktdaten</h2>
      <h3>Nacira Bogenschneider</h3>
      <p>Telefon Nummer </p>
      <p>0172/528 70 69</p>
      <button> Schreib</button>
    </section> --}}

    <!-- grid-element 3 information -->
    <section class="information">
      <section class="tags">
        <section class="tags__text-box">
        <h3 class="tags__h3">Web Development</h3>
          <span class="tags__tag">HTML</span> 
          <span class="tags__tag">CSS</span>
          <span class="tags__tag">JavaScript</span>
          <span class="tags__tag">Bootstrap</span>
          <span class="tags__tag">PHP</span>
          <span class="tags__tag">UX/UI&nbsp;Design </span>
          <span class="tags__tag">SQL </span>
          <span class="tags__tag">Scrum </span>
          <span class="tags__tag">Kanban </span>
          <span class="tags__tag">Git</span> 
          <span class="tags__tag">Java </span>
          <span class="tags__tag">MongoDB</span>
        </section>
        <section class="tags__text-box">
        <h3 class="tags__h3"> Grafik&nbsp;Design</h3>
        <span class="tags__tag">Corporate </span>
        <span class="tags__tag">Design </span>
        <span class="tags__tag">Logo </span>
        <span class="tags__tag">Design </span>
        <span class="tags__tag">Print </span>
        <span class="tags__tag">Design </span>
        <span class="tags__tag">Web </span>
        <span class="tags__tag">Design </span>
        <span class="tags__tag">Information </span>
        <span class="tags__tag">Visualization </span>
        <span class="tags__tag">Infografiken </span>
        <span class="tags__tag">Illustrationen</span>
      </section>
        <section class="tags__text-box">
        <h3 class="tags__h3">Software</h3>
        <span class="tags__tag">Visual&nbsp;Studio&nbsp;Code </span>
        <span class="tags__tag">Brackets</span> 
        <span class="tags__tag">MS&nbsp;Office </span>
        <span class="tags__tag">Adobe&nbsp;Photoshop</span> 
        <span class="tags__tag">Adobe&nbsp;Indesign </span>
        <span class="tags__tag">Adobe&nbsp;Illustrator</span> 
        <span class="tags__tag">Adobe&nbsp;Comp </span>
        <span class="tags__tag">Adobe&nbsp;Xd </span>
        <span class="tags__tag">TheGimp</span>
        <span class="tags__tag">Inkscape</span> 
        <span class="tags__tag">WordPress </span>
        <span class="tags__tag">Joomla </span>
        <span class="tags__tag">xtCommerce</span>
        </section>
        <section class="tags__text-box">
          <h3 class="tags__h3">Sprachen</h3>
          <span class="tags__tag">Deutsch </span>
          <span class="tags__tag">Englisch </span>
        </section>
      </section>    

<!-- WORK & EDUCATION -->
      <section class="table">
        <section class="single__table-left">
        
        <h3 class="h3 tags__h3">Berufserfahrung</h3>
            <h4>08.2018 - Heute</h4>
            <p>Selbst채ndige Grafik Designerin - naciradesign.de</p>
           
            <h4> 08.2018 - 12.2018</h4>
            <p> Webdesign, Software-Koordination - mybiscon GmbH</p>
           
            <h4> 04.2009 - 03.2014</h4>
            <p>E-Commerce, Webdesign Inhaberin - axobar Onlineshop</p>
          
            <h4> 04.2007 - 03.2008</h4>
            <p>PHP Programmierung Stud. Hilfskraft - probusiness Berlin AG</p>

            <h4> 03.2009 - 10.2014</h4>
            <p>Softwaretest und Dokumentation - Stud. Hilfskraft - Software-Entwicklung</p>

           <h4> 10.2003 - 03.2004</h4>
           <p>Grafik Design Stud. Hilfskraft - TU - Braunschweig</p>
      </section>    

        <section class="single__table-right">  
          <h2 class="h3 tags__h3">Ausbildung</h2>
          
          <h4>01.2020 - 03.2020</h4>
          <p>Web Developer Bootcamp - neuefische GmbH</p>
       
          <h4>08.2019 - 12.2019</h4>
          <p>UX/UI Design - Interaction Design Foundation</p>
          
          <h4>09.2015 - 08.2019</h4>
          <p>BWL online, Einzelkurse - Jade Hochschule Wilhelmshaven</p>
          
          <h4>04.2007 - 03.2009</h4>
          <p>Medien-Informatik -Beuth Hochschule f체r Technik Berlin</p>
          
          <h4>06.2004 - 08.2006</h4>
          <p>Fachinformatikerin Fachrichtung Systemintegration - IKH gepr체ft</p>  
          
          <h4>10.2002 - 03.2004</h4>
          <p>Informatik - Technische Universit채t Braunschweig</p>
        </section>
      </section>
      <!-- END <section class="table">  -->

<!-- WORK & EDUCATION -->
      <h2 class="h3">Referenzen</h2>
      
      <section class="ref">
        <section class="card">
          <a href="https://singularity-hr.com/"><img class="card__image" src="images/Singularity-HR_desktop.jpg" alt=""></a>
          <h4>Singularity-HR</h4>
          <p>Webdesign und Umsetzung in WordPress, Anpassungen via CSS, bilingduale Umsetzung.</p>
        </section>
          <!-- END <section class="card"> -->
        <section class="card">
          <a href="https://wolfgang-borchert-schule.hamburg.de/"><img class="card__image" src="images/Wolfgang-Borchert-Schule.jpg" alt=""></a>
          <h4>Wolfgang-Borchert-Schule</h4>
          <p>Webdesign, Illustrationen und Umsetzung mit WordPress, Anpassungen via CSS.</p>    
        </section>
          <!-- END <section class="card"> -->
        <section class="card">
          <a href="https://naciradesign.de/"><img class="card__image" src="images/Projekt.jpg" alt=""></a>
          <h4>Nacira Design</h4>
          <p>Webdesign, Illustrationen und Umsetzung mit WordPress, Anpassungen via CSS.</h3>
          <!-- END <section class="card"> -->
        </section>
      <!-- END <section class="ref"> -->
      </section>
    </section>
  </main>

  <nav class="bottom-navigation">
    <img class="bottom-navigation__image" src="images/codepen-brands.svg" alt="github">
    <img class="bottom-navigation__image" src="images/github-square-brands.svg" alt="github">
    <img class="bottom-navigation__image" src="images/linkedin-brands.svg" alt="github">
    <img class="bottom-navigation__image" src="images/xing-square-brands.svg" alt="github">
  </nav>
</html>