.header{

    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100%;
    text-align: center;
    color:  var(--blueberry);
    box-shadow: 0 0px 10px var(--dark-blueberry);
    margin-bottom: 20px ;
    
  }
 .header__button-group{
   margin-top: 5px;
 }
 .header__button-group a{
  text-decoration: none;
  color: var(--petrol);
  
}
.header__button-group a:hover{
  color: var(--blueberry);
  box-shadow: inset 0 0px 8px  var(--petrol);
}
.header__button{
    border: 1px solid var(--blueberry);
    color: var(--blueberry);
    border-radius: 15px;
    font-size: 16px; ;
    background: white;
    padding: 6px;
    margin: 0 5px 10px 5px;
    box-shadow: 0 0px 12px var(--dark-bluberry-light);
  }
 