.introduction {
  display: flex;
  width: auto;
  justify-content: center;
  @media (max-width: 576px) {
    flex-direction: row;
    margin-top: 20px;
  }
}
.introduction__image-rounded {
  grid-area: image-rounded;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  box-shadow: 0 0px 8px var(--dark-blueberry);
}
.introduction__h2 {
  margin-top: 16px;
  font-size: 34px;
  color: var(--blueberry);
}
.introduction__h4 {
  font-size: 22px;
  @media (max-width: 768px) {
    margin-top: 10px;
  }
}
.introduction__big-card {
  grid-area: big-card;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 0px;
    border-top: 0.8px solid var(--blueberry);
    border-bottom: 0.8px solid var(--blueberry);
    padding: 25px 15px;
  }
}
.introduction__big-card a {
  text-decoration: none;
  color: var(--blueberry);
  border: 0.5px solid var(--blueberry);
  border-radius: 20px;
  font-size: 20px;
  padding: 9px;
  margin: 20px 5px;
  color: var(--dark-blueberry);
  text-align: left;
  box-shadow: 0 0px 5px var(--dark-bluberry-light);
}
.introduction__big-card a:hover {
  box-shadow: inset 0 0px 8px var(--dark-blueberry);
}
