.ref {
  grid-area: refs;
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-direction: column;

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.ref_wrapper {
  display: flex;
  flex-direction: row;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.ref__card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 2px solid var(--petrol);
  border-radius: 10px;
  margin: 10px;
  p {
    margin: 6px;
  }
  h4 {
    margin: 6px;
  }
  @media (max-width: 768px) {
    max-width: 400px;
  }
  @media (max-width: 576px) {
    max-width: 400px;
    margin: 20px 0;
  }
}

.ref__card-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}
