.scroll-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    "image-rounded big-card"
    "image-rounded  big-card"
    "bootcamp bootcamp"
    "tags tags"
    "tables tables"
    "refs refs";
  color: var(--petrol);
  overflow-y: scroll;
  padding: 50px 120px;
  @media (min-width: 350px) {
    width: 100vw;
    padding: 16px;
  }
  @media (max-width: 576px) {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 100% auto;
    grid-template-areas:
      "image-rounded image-rounded"
      "big-card big-card"
      "bootcamp bootcamp"
      "tags tags"
      "tables tables"
      "refs refs";
    padding: 16px;
  }
}
