.table {
  grid-area: tables;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  // width: auto;
  color: var(--petrol);
  @media (max-width: 576px) {
    flex-direction: column;
  }
}
.table__table-left {
  display: flex;
  flex-direction: column;
  // width: auto;
  flex-grow: 1;
  padding-right: 20px;
  @media (max-width: 576px) {
    padding-right: 0;
  }
}
.table__table-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 20px;
  @media (max-width: 576px) {
    padding-right: 0;
  }
}
