.table {
  grid-area: tables;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  margin: 0;
  padding: 40px;
  color: var(--petrol);
  @media (max-width: 576px) {
    flex-direction: column;
    padding: 0 10px;
  }
}
.table__table-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 20px;
  a {
    color: #ee7600;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: none;
      background-color: #ee7600;
    }
  }
  @media (max-width: 576px) {
    padding-right: 0;
  }
}
.table__table-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 20px;
  @media (max-width: 576px) {
    padding-right: 0;
  }
}
