p {
  font-size: 20px;
}
a {
  color: #ee7600;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #ee7600;
  }
}
.h1 {
  font-family: Raleway;
  margin-top: 20px;
  margin-bottom: 10px;
  @media (max-width: 576px) {
    font-size: 25px;
  }
}
.h2 {
  font-family: Raleway;
  font-size: 32px;
  color: var(--petrol);
  @media (max-width: 576px) {
    font-size: 16px;
  }
}
.h3 {
  font-family: Raleway;
  font-size: 28px;
  color: var(--blueberry);
}
