.h1{
    font-family: Comfortaa;
    margin-top: 20px;
    @media (max-width: 576px){
      font-size: 25px;
    }
  }
  .h2{
    font-family: Comfortaa;
    font-size: 32px;
    color: var(--petrol);
    @media (max-width: 576px){
      font-size: 16px;
    }
  }
  .h3{
    font-family: Comfortaa;
    font-size: 28px;
    /* border: 1px solid black; */
    color: var(--blueberry);
  }
  